@model GeneralInformation

@{
    ViewData["Title"] = "Edit";
}

<h1>Genel Bilgi Düzenleme Sayfası</h1>

<h4>Genel Bilgi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="GIName" class="control-label"></label>
                <span asp-validation-for="GIName" class="text-danger field-validation-error"></span>
                <input asp-for="GIName" class="form-control" />
               
            </div>
            <div class="form-group">
                <label asp-for="GIContent" class="control-label"></label>
                <span asp-validation-for="GIContent" class="text-danger field-validation-error"></span>
                <input asp-for="GIContent" class="form-control" />
               
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
