@model CareerPosting

@{
    ViewData["Title"] = "Create";
}

<h1>İş İlanı Ekleme Sayfası</h1>

<h4>İş İlanı</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <span asp-validation-for="CompanyName" class="text-danger field-validation-error"></span>
                <input asp-for="CompanyName" class="form-control" />
               
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <span asp-validation-for="Position" class="text-danger field-validation-error"></span>
                <input asp-for="Position" class="form-control" />
               
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <span asp-validation-for="Content" class="text-danger field-validation-error"></span>
                <input asp-for="Content" class="form-control" />
               
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <span asp-validation-for="StartDate" class="text-danger field-validation-error"></span>
                <input asp-for="StartDate" class="form-control" type="date" />
                
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <span asp-validation-for="EndDate" class="text-danger field-validation-error"></span>
                <input asp-for="EndDate" class="form-control" type="date" />
               
            </div>

            <div class="form-group">
                <label asp-for="ImgFile" class="control-label">Şirket Logosu : </label>
                <span asp-validation-for="ImgFile" class="text-danger field-validation-error"></span>
                <input type="file" asp-for="ImgFile" class="form-control" />
               
            </div>


            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
